html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
section {
  border-radius: 10px;/*
  box-shadow: -0.5px 1px 10px 5px;*/
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
section > .container {
  display: flex;
  transition: 2s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: closeit;
  transition: 2s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;
  background-color: #fff;
}
@keyframes closeit {
  100% {
    display: none;
  }
}
section > .container > .logo {
  height: 45px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  animation-name: biglogo;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}
@keyframes biglogo {
  100% {
    height: 400px;
    width: 350px;
  }
}
section > .container > .logo > img {
  object-fit: contain;
  width: 190px;
  transition: 5s;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  animation-name: biglog;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}
@keyframes biglog {
  100% {
    width: 250px;
    margin: 0 auto 0 auto;
  }
}
section > .container > .loading {
  height: 5px;
  width: 100%;
  transition: 5s;
  animation-name: bckgrnd;
  animation-delay: 14s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  border-radius: 100px;
  background-color: #000;
}
@keyframes bckgrnd {
  100% {
    transition: 2.5s ease-out;
    width: 0%;
    transition: 2s;
  }
}
section > .container > .loading > .inner-load {
  background-color: #acacac;
  border-radius: 100px;
  height: 5px;
  animation-name: load;
  animation-delay: 6s;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  width: 0%;
}
@keyframes load {
  100% {
    width: 100%;
  }
}
